/.vs
/HandyAgentFramework/bin
/HandyAgentFramework/obj
/HandyAgentFramework.Compaction/obj
/HandyAgentFramework.Compaction/bin
/HandyAgentFramework.SqliteFileStore/obj
/HandyAgentFramework.SqliteFileStore/bin
/HandyAgentFramework.Tests/obj
/HandyAgentFramework.Tests/bin
/HandyAgentFramework.FunctionCall/obj
/HandyAgentFramework.FunctionCall/bin
/HandyAgentFramework.SqliteSessionStore/obj
/HandyAgentFramework.SqliteSessionStore/bin
/TestResults
/*.user
